*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: gray;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    

}

.card{
    background-color: bisque;
    width: 300px;
    height: 600px;
    margin-top: 7%;
    border-radius: 20px;
    margin-left: 3%;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    font-size: 1.4rem;
    color: rgb(110, 59, 110)
}

.info{
    
    font-size: 1.3rem;
    line-height: 3rem;
    padding-left: 5%;
    padding-top: 5%;

}


img{
    height: 250px;
    width: 200px;
    margin-top: 6%;
    margin-left: 20%;
    box-shadow: 5px 5px 30px 10px  salmon;
    border-radius: 10px;
}

/* form */
.all{
    width: 100%;
}
.container{
    margin-left: 30%;
    margin-top: 5%;
    background-color: burlywood;
    width: 500px;
    border-radius: 50px;
   
}

.form-group{
    padding-top: 30px;
    margin-left: 80px;

}

label{
    font-size: 1.5rem;
}

input{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

input[type=submit]{
    padding: 10px 50px;
    font-size: 1.5rem;
    color: green;
    background-color: beige;
    border: none;
    border-radius: 15px;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 30%;
    cursor: pointer;

}

input[type=submit]:hover{
    background-color: antiquewhite;
}

.search-bar{
    margin-left: 30%;
    margin-top: 2%;
}

.bar{
    width: 500px;
    border-radius: 3px;
    border: none;
}